@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --green: hsl(75,94%,57%);
    --white: hsl(0,0%,100%);
    --grey: hsl(0,0%,20%);
    --dark-grey: hsl(0,0%,12%);
    --off-black: hsl(0,0%,8%);
    --font-family:Inter;
    --paragraph-font:14px;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: var(--off-black);
    color: var(--white);
    font-family: Inter;
}

.container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 375px;
    max-width: 1440px;
}

.card{
    background:var(--dark-grey);
    height: 520px;
    padding: 30px;
    border-radius: 10px;
}
.card .card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.card .card-top img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}
